@font-face {
  font-family: 'Musk';
  src: url("../fonts/musk.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Musk', sans-serif;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #d0d0d0;
}

.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 18px;
    font-family: 'Musk', sans-serif;
    padding-right: 30px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #d0d0d0;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand {
  padding-left: 30px;
}

.break {
  width: 80%;
  height: 3px;
  background-color: #E6E3E8;
  margin-top: 40px;
  margin-bottom: 40px;
  background: linear-gradient(231deg, #8952b9, #406baf);
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

#status {
  height: auto;
  width: 100%;
  background-color: #E6E3E8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: #404040;

  background: -webkit-linear-gradient(#F0EDF2, #E6E3E8);
  background: -o-linear-gradient(#F0EDF2, #E6E3E8);
  background: -moz-linear-gradient(#F0EDF2, #E6E3E8);
  background: linear-gradient(#F0EDF2, #E6E3E8);
}

#top-wrapper {
  margin: auto;
  background: linear-gradient(231deg, #8952b9, #406baf);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
  overflow: hidden;
}

#hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

#title {
  color: #fff;
  font-size: 90px;
  letter-spacing: 30px;
  display: table;
  width:100px;
  height: 100%;
  margin: 0 auto;
}

#description {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

#content {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

#content .container {
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 100px;
  max-width: 800px;
}

#version {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

#version span {
  letter-spacing: 1px;
  display: inline-block;
  padding: 5px;
}

#version #middle-v {
  padding-right: 50px;
  padding-left: 50px;
}

#strmr-v {
  background-color: #F5F2F7;
  border: 1px solid #404040;
  border-radius: 2px;
}

#stars {
  width: 2px;
  height: 2px;
  background-color: red;
  background: transparent;
  box-shadow: 1679px 458px #f8c7f2 , 1575px 40px #f8c7f2 , 367px 339px #f8c7f2 , 616px 15px #f8c7f2 , 606px 408px #f8c7f2 , 1227px 150px #f8c7f2 , 437px 174px #f8c7f2 , 1481px 99px #f8c7f2 , 1801px 20px #f8c7f2 , 274px 180px #f8c7f2 , 1263px 212px #f8c7f2 , 422px 98px #f8c7f2 , 330px 84px #f8c7f2 , 311px 47px #f8c7f2 , 1421px 118px #f8c7f2 , 1098px 196px #f8c7f2 , 1401px 57px #f8c7f2 , 845px 233px #f8c7f2 , 1444px 417px #f8c7f2 , 1088px 280px #f8c7f2 , 92px 343px #f8c7f2 , 1583px 212px #f8c7f2 , 881px 117px #f8c7f2 , 883px 373px #f8c7f2 , 643px 482px #f8c7f2 , 1891px 146px #f8c7f2 , 1111px 2px #f8c7f2 , 1826px 381px #f8c7f2 , 1801px 420px #f8c7f2 , 282px 468px #f8c7f2;
  animation: animStar 15s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  color: green;
  top: -500px;
  width: 2px;
  height: 2px;
  background: red;
  box-shadow: 1679px 458px #f8c7f2 , 1575px 40px #f8c7f2 , 367px 339px #f8c7f2 , 616px 15px #f8c7f2 , 606px 408px #f8c7f2 , 1227px 150px #f8c7f2 , 437px 174px #f8c7f2 , 1481px 99px #f8c7f2 , 1801px 20px #f8c7f2 , 274px 180px #f8c7f2 , 1263px 212px #f8c7f2 , 422px 98px #f8c7f2 , 330px 84px #f8c7f2 , 311px 47px #f8c7f2 , 1421px 118px #f8c7f2 , 1098px 196px #f8c7f2 , 1401px 57px #f8c7f2 , 845px 233px #f8c7f2 , 1444px 417px #f8c7f2 , 1088px 280px #f8c7f2 , 92px 343px #f8c7f2 , 1583px 212px #f8c7f2 , 881px 117px #f8c7f2 , 883px 373px #f8c7f2 , 643px 482px #f8c7f2 , 1891px 146px #f8c7f2 , 1111px 2px #f8c7f2 , 1826px 381px #f8c7f2 , 1801px 420px #f8c7f2 , 282px 468px #f8c7f2;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(500px);
  }
}

@-webkit-keyframes AnimationName {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@keyframes AnimationName {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
