html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

@media screen and (max-device-width : 530px)
{

}

.navbar-default .navbar-brand {
    color: #6441A4;
    letter-spacing: -2px;
    font-weight: 700;
}

.navbar-default .navbar-brand:hover {
    color: #E167E6;
}

.navbar-default .navbar-brand:focus {
    color: #E167E6;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin: 0 auto;
  max-width: 800px;
}

.navbar-default .navbar-nav>li {
  padding-right: 30px;
}

.navbar-default .navbar-nav>li>a {
    color: #6441A4;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #E167E6;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #E167E6;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #6441A4;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  border-color: #6441A4;
}

.navbar-default .navbar-brand {
  padding-left: 30px;
}

.break {
  width: 80%;
  height: 3px;
  background-color: #E6E3E8;
  margin-top: 40px;
  margin-bottom: 40px;
  background: linear-gradient(231deg, #8952b9, #406baf);
}

#top-wrapper {
  margin: auto;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 100%;
}

#hero {
  padding-top: 100px;
  padding-bottom: 60px;
}

#description-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

#description {
  padding-top: 50px;
  color: #404040;
  font-size: 20px;
  font-family: 'Open Sans ', sans-serif;
}

#description span {
  color: #6441A4;
}

#content {
  box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.2);
  display: inline-block;
  height: auto;
  width: 100%;
}

#content .container {
  font-size: 15px;
  padding-top: 40px;
  padding-bottom: 100px;
  max-width: 800px;
}

#buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

#buttons button {
  margin-right: 10px;
  margin-left: 10px;
}

#buttons .btn-success {
  background-color: #aa80ff;
  border-color: #9966ff;
}

#buttons .btn-info span {
  padding-right: 10px;
}

#buttons .btn-success span {
  padding-left: 10px;
}

#footer {
  margin: auto;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
}

#footer .container-fluid {
  z-index: -1;
}

#footer-bottom {
  color: #f5f5f5;
}

#footer-made {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

#footer-made * {
  display: inline-block;
}

#footer-made a {
  padding-left: 5px;
}

#footer-made a:hover {
  text-decoration: none;
}

#footer-made .colour {
  color: #f5f5f5;
}

.footer-pad {
  padding-left: 6px;
}
